### 1.2 Data wrangling
Please find `hotel_sample_data_raw_bookings.csv` and `hotel_sample_data_raw_inventories.csv`  in the `data` folder. Use either SQL or python to aggregate the data to **hotel level** with the metrics below:
> Refer to appendix for the data dictionary and description

1. MTD (month-to-date) total bookings (as of 2023-09-18)
2. Average daily booking
3. Average weekly booking
4. Average monthly booking
5. Second last booking date
6. Recency
7. Average transaction value

You just need to fill in either q1.2.ipynb or q1.2sql

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('../data/hotel_sample_data_raw_bookings.csv')

In [4]:
df1.columns

Index(['hashed_order_number', 'item_status', 'order_created_timestamp_utc',
       'hashed_customer_id', 'check_in_date', 'check_out_date',
       'number_of_rooms', 'number_of_adult', 'number_of_child',
       'number_of_room_nights', 'totalamount_usd', 'hotel_reference_id'],
      dtype='object')

In [5]:
df1.head()

,hashed_order_number,item_status,order_created_timestamp_utc,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_reference_id
0,2358866373745721362,BOOKING_CONFIRMED,2023-06-17 14:01:38.000000 UTC,8.896752e+18,2023-07-03,2023-07-04,1,2,0,1,127.187864,-9132627444666059375
1,5748509061990728483,BOOKING_CONFIRMED,2023-06-17 15:35:16.000000 UTC,-3.202937e+18,2023-07-07,2023-07-10,1,2,2,3,280.329488,-8331715157359125174
2,-6187797854503997068,BOOKING_CONFIRMED,2023-06-17 11:42:46.000000 UTC,-3.123644e+18,2023-06-25,2023-06-26,1,2,0,1,35.693189,47296919683376579
3,1291850139565304762,BOOKING_CONFIRMED,2023-06-17 08:54:16.000000 UTC,-4.085895e+18,2023-07-07,2023-07-09,2,6,0,4,86.145548,-3671747831870434544
4,1291850139565304762,BOOKING_CONFIRMED,2023-06-17 08:54:16.000000 UTC,-4.085895e+18,2023-07-07,2023-07-09,2,6,0,4,86.145548,-3671747831870434544

### Keeping only the date part in order_created_timestamp_utc column

In [12]:
df1['order_created'] = pd.to_datetime(df1.order_created_timestamp_utc).dt.date
df1.drop(columns=['order_created_timestamp_utc'],inplace=True)

In [6]:
df2 = pd.read_csv('../data/hotel_sample_data_raw_inventories.csv')

In [7]:
df2.head()

,hotel_reference_id,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
0,-8086547192259181023,THAILAND,HAT YAI,SONGKHLA,Hotel,3.0
1,4957414607136314110,PHILIPPINES,TAGUIG,MANILA,Hotel,4.0
2,-6450845121000940741,THAILAND,BANGKOK,NaN,Hotel,4.0
3,4506399878130481133,PHILIPPINES,BORACAY,NaN,Hotel,5.0
4,1459919767144637259,PHILIPPINES,BACOLOD,NaN,NaN,NaN

## **MTD (month-to-date) total bookings (as of 2023-09-18)**

- Just like YTD, MTD (month-to-date) is a period that starts at the beginning of the current month to the current date. It is a much shorter period compared to YTD.

- And, like YTD, MTD only covers the period ending at the last finalized business day. MTD is also sometimes referred to as month-till-date.

### Let's look at both the dataframes together

In [13]:
dfmerge = pd.merge(df1,df2,on='hotel_reference_id',how='inner')

In [14]:
dfmerge

,hashed_order_number,item_status,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_reference_id,order_created,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
0,2358866373745721362,BOOKING_CONFIRMED,8.896752e+18,2023-07-03,2023-07-04,1,2,0,1,127.187864,-9132627444666059375,2023-06-17,THAILAND,BANGKOK,NaN,Hotel,5.0
1,-538379148510437431,BOOKING_CONFIRMED,-9.982005e+17,2023-07-07,2023-07-08,1,2,0,1,98.576460,-9132627444666059375,2023-06-16,THAILAND,BANGKOK,NaN,Hotel,5.0
2,-5581872879912733630,BOOKING_CONFIRMED,-8.611789e+18,2023-07-21,2023-07-24,1,1,0,3,457.730569,-9132627444666059375,2023-07-19,THAILAND,BANGKOK,NaN,Hotel,5.0
3,5620840056621492145,BOOKING_CONFIRMED,NaN,2023-05-01,2023-05-02,1,2,0,1,120.543376,-9132627444666059375,2023-03-20,THAILAND,BANGKOK,NaN,Hotel,5.0
4,5334886277142097834,BOOKING_CONFIRMED,2.815974e+18,2023-07-04,2023-07-05,1,2,0,1,123.016402,-9132627444666059375,2023-06-01,THAILAND,BANGKOK,NaN,Hotel,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8880,-2682306631784419183,BOOKING_CONFIRMED,-8.234865e+18,2023-04-23,2023-04-24,1,2,0,1,24.983653,-3434222967020892188,2023-04-22,THAILAND,BANGKOK,BANGKOK,NaN,NaN
8881,8486429960737068224,BOOKING_CONFIRMED,8.933146e+18,2023-04-30,2023-05-01,1,2,0,1,109.179961,6296940604802416595,2023-04-22,THAILAND,PATTAYA,CHONBURI,Hotel,5.0
8882,409444007118477498,BOOKING_CONFIRMED,-2.653813e+18,2023-04-23,2023-04-24,1,2,0,1,22.425276,7824834503601673656,2023-04-22,THAILAND,PHITSANULOK,PHITSANULOK,NaN,NaN
8883,404006294254611927,BOOKING_CONFIRMED,2.648412e+18,2023-11-16,2023-11-20,1,4,0,4,697.553370,4173146149948563667,2023-09-27,THAILAND,BANGKOK,BANGKOK,Hotel,4.0
8884,-8926504116922032766,BOOKING_CONFIRMED,-7.085555e+18,2023-11-04,2023-11-08,1,2,0,4,169.534900,578033525661496185,2023-09-27,PHILIPPINES,MANILA,NaN,Hotel,3.0

In [15]:
dfmerge['order_created'] = pd.to_datetime(dfmerge['order_created'])

In [16]:
desired_data_max = '2023-09-18' # to Date
desired_data_min = '2023-09-01' # from Date

df_merged_g_by_filter = dfmerge[(dfmerge.order_created<desired_data_max)&(dfmerge.order_created>=desired_data_min)]

In [17]:
result = df_merged_g_by_filter.groupby('hotel_reference_id')['hashed_order_number'].count().reset_index(name='total_bookings')
result #MTD

      hotel_reference_id  total_bookings
0   -9131472757847551177               1
1   -9125026070465223218               1
2   -9069694026213447548               1
3   -9067514170492683332               1
4   -9066469993163947411               1
..                   ...             ...
374  8882318652367928794               1
375  8919666840328681939               3
376  9103788713090388247               2
377  9118364265662081072               3
378  9189648663734470877               1

[379 rows x 2 columns]

## Average daily booking

In [18]:
dfmerge

,hashed_order_number,item_status,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_reference_id,order_created,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
0,2358866373745721362,BOOKING_CONFIRMED,8.896752e+18,2023-07-03,2023-07-04,1,2,0,1,127.187864,-9132627444666059375,2023-06-17,THAILAND,BANGKOK,NaN,Hotel,5.0
1,-538379148510437431,BOOKING_CONFIRMED,-9.982005e+17,2023-07-07,2023-07-08,1,2,0,1,98.576460,-9132627444666059375,2023-06-16,THAILAND,BANGKOK,NaN,Hotel,5.0
2,-5581872879912733630,BOOKING_CONFIRMED,-8.611789e+18,2023-07-21,2023-07-24,1,1,0,3,457.730569,-9132627444666059375,2023-07-19,THAILAND,BANGKOK,NaN,Hotel,5.0
3,5620840056621492145,BOOKING_CONFIRMED,NaN,2023-05-01,2023-05-02,1,2,0,1,120.543376,-9132627444666059375,2023-03-20,THAILAND,BANGKOK,NaN,Hotel,5.0
4,5334886277142097834,BOOKING_CONFIRMED,2.815974e+18,2023-07-04,2023-07-05,1,2,0,1,123.016402,-9132627444666059375,2023-06-01,THAILAND,BANGKOK,NaN,Hotel,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8880,-2682306631784419183,BOOKING_CONFIRMED,-8.234865e+18,2023-04-23,2023-04-24,1,2,0,1,24.983653,-3434222967020892188,2023-04-22,THAILAND,BANGKOK,BANGKOK,NaN,NaN
8881,8486429960737068224,BOOKING_CONFIRMED,8.933146e+18,2023-04-30,2023-05-01,1,2,0,1,109.179961,6296940604802416595,2023-04-22,THAILAND,PATTAYA,CHONBURI,Hotel,5.0
8882,409444007118477498,BOOKING_CONFIRMED,-2.653813e+18,2023-04-23,2023-04-24,1,2,0,1,22.425276,7824834503601673656,2023-04-22,THAILAND,PHITSANULOK,PHITSANULOK,NaN,NaN
8883,404006294254611927,BOOKING_CONFIRMED,2.648412e+18,2023-11-16,2023-11-20,1,4,0,4,697.553370,4173146149948563667,2023-09-27,THAILAND,BANGKOK,BANGKOK,Hotel,4.0
8884,-8926504116922032766,BOOKING_CONFIRMED,-7.085555e+18,2023-11-04,2023-11-08,1,2,0,4,169.534900,578033525661496185,2023-09-27,PHILIPPINES,MANILA,NaN,Hotel,3.0

In [19]:
avg = dfmerge.groupby('order_created')['hashed_order_number'].agg('count').mean().round(0)
print(f'Average Daily Bookings between the period {dfmerge.order_created.min()} and {dfmerge.order_created.max()} is {int(avg)}')

Average Daily Bookings between the period 2023-03-01 00:00:00 and 2023-09-30 00:00:00 is 42

## Average weekly booking

In [21]:
dfmerge

,hashed_order_number,item_status,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_reference_id,order_created,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
0,2358866373745721362,BOOKING_CONFIRMED,8.896752e+18,2023-07-03,2023-07-04,1,2,0,1,127.187864,-9132627444666059375,2023-06-17,THAILAND,BANGKOK,NaN,Hotel,5.0
1,-538379148510437431,BOOKING_CONFIRMED,-9.982005e+17,2023-07-07,2023-07-08,1,2,0,1,98.576460,-9132627444666059375,2023-06-16,THAILAND,BANGKOK,NaN,Hotel,5.0
2,-5581872879912733630,BOOKING_CONFIRMED,-8.611789e+18,2023-07-21,2023-07-24,1,1,0,3,457.730569,-9132627444666059375,2023-07-19,THAILAND,BANGKOK,NaN,Hotel,5.0
3,5620840056621492145,BOOKING_CONFIRMED,NaN,2023-05-01,2023-05-02,1,2,0,1,120.543376,-9132627444666059375,2023-03-20,THAILAND,BANGKOK,NaN,Hotel,5.0
4,5334886277142097834,BOOKING_CONFIRMED,2.815974e+18,2023-07-04,2023-07-05,1,2,0,1,123.016402,-9132627444666059375,2023-06-01,THAILAND,BANGKOK,NaN,Hotel,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8880,-2682306631784419183,BOOKING_CONFIRMED,-8.234865e+18,2023-04-23,2023-04-24,1,2,0,1,24.983653,-3434222967020892188,2023-04-22,THAILAND,BANGKOK,BANGKOK,NaN,NaN
8881,8486429960737068224,BOOKING_CONFIRMED,8.933146e+18,2023-04-30,2023-05-01,1,2,0,1,109.179961,6296940604802416595,2023-04-22,THAILAND,PATTAYA,CHONBURI,Hotel,5.0
8882,409444007118477498,BOOKING_CONFIRMED,-2.653813e+18,2023-04-23,2023-04-24,1,2,0,1,22.425276,7824834503601673656,2023-04-22,THAILAND,PHITSANULOK,PHITSANULOK,NaN,NaN
8883,404006294254611927,BOOKING_CONFIRMED,2.648412e+18,2023-11-16,2023-11-20,1,4,0,4,697.553370,4173146149948563667,2023-09-27,THAILAND,BANGKOK,BANGKOK,Hotel,4.0
8884,-8926504116922032766,BOOKING_CONFIRMED,-7.085555e+18,2023-11-04,2023-11-08,1,2,0,4,169.534900,578033525661496185,2023-09-27,PHILIPPINES,MANILA,NaN,Hotel,3.0

In [22]:
dfmerge.set_index('order_created',inplace=True)

In [23]:
result = pd.DataFrame(dfmerge['hashed_order_number'].resample('W-Mon').count())
result

               hashed_order_number
order_created
2023-03-06                     423
2023-03-13                     461
2023-03-20                     503
2023-03-27                     557
2023-04-03                     325
2023-04-10                     304
2023-04-17                     302
2023-04-24                     396
2023-05-01                     288
2023-05-08                     190
2023-05-15                     159
2023-05-22                     258
2023-05-29                     418
2023-06-05                     185
2023-06-12                     138
2023-06-19                     127
2023-06-26                     247
2023-07-03                     325
2023-07-10                     215
2023-07-17                     271
2023-07-24                     262
2023-07-31                     339
2023-08-07                     211
2023-08-14                     226
2023-08-21                     254
2023-08-28                     351
2023-09-04                     197
2023-09-11                     234
2023-09-18                     288
2023-09-25                     278
2023-10-02                     153

In [24]:
weeklyavg = result.hashed_order_number.mean().round(0)
print(f'Average weekly bookings are around {int(weeklyavg)}')

Average weekly bookings are around 287

## Average monthly booking

In [25]:
result = pd.DataFrame(dfmerge['hashed_order_number'].resample('M').count())
result

               hashed_order_number
order_created
2023-03-31                    2121
2023-04-30                    1423
2023-05-31                    1099
2023-06-30                     832
2023-07-31                    1218
2023-08-31                    1113
2023-09-30                    1079

In [26]:
monthlyavg = result.mean().round(0)
print(f'Monthly average bookings are around {int(monthlyavg)}')

Monthly average bookings are around 1269

C:\Users\sharm\AppData\Local\Temp/ipykernel_2252/2908177432.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f'Monthly average bookings are around {int(monthlyavg)}')

## Second last booking date, null if total bookings <= 1

In [27]:
result = df1.groupby(['order_created'])['hashed_order_number'].agg(count='count').reset_index()
result.set_index(pd.DatetimeIndex(result['order_created']),inplace=True)
result.drop(columns=['order_created'],inplace=True)
result

               count
order_created
2023-03-01        64
2023-03-02        79
2023-03-03        60
2023-03-04        58
2023-03-05        77
...              ...
2023-09-26        43
2023-09-27        26
2023-09-28        16
2023-09-29        35
2023-09-30        33

[214 rows x 1 columns]

In [28]:
result[-2:][0:1] # this is the 2nd last booking date with total bookings of 35 (>=1)

               count
order_created
2023-09-29        35

## Aggregate the data to hotel level with Recency (as of 2023-10-01)

In [29]:
dfmerge.groupby('hotel_reference_id').agg('count')

,hashed_order_number,item_status,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
hotel_reference_id,,,,,,,,,,,,,,,
-9217817084420152490,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
-9213121850607123932,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
-9212955825472495622,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
-9206097099752226690,10,10,8,10,10,10,10,10,10,10,10,10,0,10,10
-9190388718207234771,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9199769590992075998,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9206668472951073890,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2
9212961045924794722,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9215996263288881753,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9220033746296959530,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1

## Average transaction value per hotel!

In [30]:
dfmerge

,hashed_order_number,item_status,hashed_customer_id,check_in_date,check_out_date,number_of_rooms,number_of_adult,number_of_child,number_of_room_nights,totalamount_usd,hotel_reference_id,hotel_country,hotel_city,hotel_state_province,hotel_category,hotel_class
order_created,,,,,,,,,,,,,,,,
2023-06-17,2358866373745721362,BOOKING_CONFIRMED,8.896752e+18,2023-07-03,2023-07-04,1,2,0,1,127.187864,-9132627444666059375,THAILAND,BANGKOK,NaN,Hotel,5.0
2023-06-16,-538379148510437431,BOOKING_CONFIRMED,-9.982005e+17,2023-07-07,2023-07-08,1,2,0,1,98.576460,-9132627444666059375,THAILAND,BANGKOK,NaN,Hotel,5.0
2023-07-19,-5581872879912733630,BOOKING_CONFIRMED,-8.611789e+18,2023-07-21,2023-07-24,1,1,0,3,457.730569,-9132627444666059375,THAILAND,BANGKOK,NaN,Hotel,5.0
2023-03-20,5620840056621492145,BOOKING_CONFIRMED,NaN,2023-05-01,2023-05-02,1,2,0,1,120.543376,-9132627444666059375,THAILAND,BANGKOK,NaN,Hotel,5.0
2023-06-01,5334886277142097834,BOOKING_CONFIRMED,2.815974e+18,2023-07-04,2023-07-05,1,2,0,1,123.016402,-9132627444666059375,THAILAND,BANGKOK,NaN,Hotel,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-22,-2682306631784419183,BOOKING_CONFIRMED,-8.234865e+18,2023-04-23,2023-04-24,1,2,0,1,24.983653,-3434222967020892188,THAILAND,BANGKOK,BANGKOK,NaN,NaN
2023-04-22,8486429960737068224,BOOKING_CONFIRMED,8.933146e+18,2023-04-30,2023-05-01,1,2,0,1,109.179961,6296940604802416595,THAILAND,PATTAYA,CHONBURI,Hotel,5.0
2023-04-22,409444007118477498,BOOKING_CONFIRMED,-2.653813e+18,2023-04-23,2023-04-24,1,2,0,1,22.425276,7824834503601673656,THAILAND,PHITSANULOK,PHITSANULOK,NaN,NaN
2023-09-27,404006294254611927,BOOKING_CONFIRMED,2.648412e+18,2023-11-16,2023-11-20,1,4,0,4,697.553370,4173146149948563667,THAILAND,BANGKOK,BANGKOK,Hotel,4.0
2023-09-27,-8926504116922032766,BOOKING_CONFIRMED,-7.085555e+18,2023-11-04,2023-11-08,1,2,0,4,169.534900,578033525661496185,PHILIPPINES,MANILA,NaN,Hotel,3.0

In [31]:
pd.DataFrame(dfmerge.groupby('hotel_reference_id')['totalamount_usd'].agg('mean').round(0)).rename(columns={'totalamount_usd':'average_booking(USD)'})

                      average_booking(USD)
hotel_reference_id
-9217817084420152490                  71.0
-9213121850607123932                  84.0
-9212955825472495622                  52.0
-9206097099752226690                 180.0
-9190388718207234771                  51.0
...                                    ...
 9199769590992075998                  41.0
 9206668472951073890                  65.0
 9212961045924794722                  24.0
 9215996263288881753                 434.0
 9220033746296959530                 179.0

[3890 rows x 1 columns]